
<div class="card">

  <div class="card-header">
    {{title}}
  </div>
  <div class="card-body">
    <p class="card-text">{{post_url}}</p>
    <div class="meta">
    {{vote_count}} {{format_plural "point" vote_count}} by {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
  </div>

</div>
</br>